<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="field">
  	<%= f.label :title %>
    <%= f.text_field :title %>
</div>
<div class="field">
	<%= f.label :content %>
    <%= f.text_field :content %>
</div>
<div class="field">
	<%= f.label :image %>
    <%= f.file_field  :image %>
  </div>

  <div class="action">
    <%= f.button :submit %>
  </div>
<% end %>
